.event-banner-img {
    width: 100%;
    height: 100%;
    padding: 25px 25px 25px 25px;
}

/* 
.event-img {
    padding: 25px 25px 25px 25px;
    width: 100%; height: 100%;
} */

.event {
    /* width: '10%';  */
    /* height: 10px; */
    padding: 25px 25px 25px 25px;
}

.event-img {
    width: 10%;
    height: 10%;
}


