.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links-logo {
    margin-right: 2rem;
}


.navbar-links-logo-img {
    width: 7vmax;
    height: 7vmax;
}